version: '3'
services:
# used docker first uncommet stramlit links
  web: 
    build: FASTAPI/
    ports:
      - "8000:8000"
    container_name: FASTAPIFACE
    networks:
      - frontend
                                                
  streamlit:
    build: STREAMLIT/
    depends_on:
      - web
    ports:
      - "8501:8501"
    volumes:
      - $PWD/data:/var/lib/mysql
    networks:
      - frontend

networks:
  frontend:
    driver: bridge